.copyright {
  color: #b2b2b2;
  font-family: "Montserrat";
  font-size: 19px;
  font-weight: 600;
  line-height: 32.25px;
  letter-spacing: 0.13px;
}

.copyright-wrapper {
  margin: 65px 0;
  padding-top: 50px;
  max-width: 1310px;
  border-top: 2px solid #b2b2b2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copyright-left {
  list-style-type: none;
  display: flex;
  padding: 0;
  
}

.copyright-left__item {
  margin-right: 45px;
}

.copyright-left__link {
  text-decoration: none;
  color: #b2b2b2;
}
